body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 129, 129);
    line-height: 1.6;
}

/* make images scale nicely */ img {
    max-width: 100%;
    height: auto;
}

 /* container */ .container { 
    width: 90%;
    max-width: 1200px;
    margin: auto;
 }
header {
    background-color: rgb(26, 2, 2);
    color: blue;
    padding: 15px;
    text-align: center;
}

 /* Responsive navigation menu */

nav {
    background: rgb(128, 208, 220);
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(25, 7, 7);
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}

nav a:hover {
    background: #666;
}
 /* responsive grid (2 columns on desktop, 1 column on mobile) */
 .grid {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    gap: 20PX;
 }
 @media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
 
.container {
    padding: 20px;
}

.full-image {
    width: 100%;
    height: auto;
    border: 4px solid #333;
    box-shadow: 5px 5px 10px gray;
    margin-top: 20px;
}

.work {
    width: 200px;
    border: 2px solid #333;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    background: white;
    box-shadow: 3px 3px 6px rgba(51, 50, 50, 0.393);
}

.work img {
    width: 100%;
    height: auto;
}

.work p {
    padding: 10px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px gray;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}