/* General style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 129, 129);
    line-height: 1.6;
}

/* make images scale nicely */ img {
    max-width: 100%;
    height: auto;
}

 /* container */ 
 .container { 
    width: 90%;
    max-width: 1200px;
    margin: auto;
 }

 /* Responsive navigation menu */

nav {
    background: rgb(128, 208, 220);
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(25, 7, 7);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    background: #534f4f;
}
 /* responsive grid (2 columns on desktop, 1 column on mobile) */
 .grid {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    gap: 20PX;
 }
 @media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
 } 
/* center all videos and images */
video, img {
    display: block; 
    /* make them behave like block elements */
    margin: 0 auto;
    /* center horizontally */
    max-width: 100%;
    /* make sure the fit smaller screens */
    height: auto;
    /* keep aspect ratio */
}
/* center all text */ body {
    text-align: center;
}

/* make content fit mobile screen */ img, video {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;

}

.container {
    max-width: 600px; /*keeps things neat on big screens */
    margin: 0 auto;
    padding: 10px;
}